.logincard {
  margin-top:5rem;
  width: 400px;
  text-align: center;
}
.btnSumit{
  background-color: #2196F3;
  color: white;
  margin-top: 1rem
}

md-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  z-index: 999;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.24);
}
