<md-toolbar color="primary">
  <span style="margin-right: auto; margin-left: auto">SDQR</span>
</md-toolbar>
<form novalidate [formGroup]="fLogin" (submit)="doLogin()" >
  <div fxLayoutAlign="center center">
    <md-card fxLayout="column" class="logincard">
      <h1>Login</h1>
        <md-input-container>
          <input mdInput type="email" placeholder="Email" formControlName="email">
        </md-input-container>
        <md-input-container>
          <input mdInput type="password" placeholder="Password" formControlName="password">
        </md-input-container>
        <button type="submit" md-raised-button class="btnSumit" *ngIf="checkSubmit">
          Login
        </button>
      <a md-raised-button class="btnSumit" *ngIf="!checkSubmit">
        <loaders-css [loader]="'ball-pulse'" [loaderClass]="'my-loader'"></loaders-css>
      </a>
    </md-card>
  </div>
</form>

<simple-notifications [options]="loginOpton"></simple-notifications>
