md-sidenav {
    width: 200px;
}

md-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    z-index: 999;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.24);
}

md-sidenav-container {
    margin-top: 4rem;
}
md-grid-tile {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.procard {
    margin: 1rem;
    width: 200px;
}

.asbtn {
    width: 100%;
    text-align: left;
    font-size: 20px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.ownprice {
    color: #F44336;

}
.saleprice {
    color: #64DD17;
}
.namebook {
    font-size: 1rem;
}
.viewbtn {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: #00E5FF;
}


/*Show Product detail*/
.showpic {

}
.cardprodetail {

}
.addpro {
    position: absolute;
    right: 10px;
    bottom: 20px;
}

.backhome {
  position: absolute;
  left: 5px;
  top: 5px;
  background-color: #D50000;
  color: white;
}

md-tab-group{
  margin-top: 3rem;
}

/*Insert & Update Form Book*/
.insertcard {
  width: 500px;
  margin-left: 0.5rem;
  margin-right: 0.5rem;

}
md-input-container {
  width: 100%;
  margin: 0.5rem;
}
