<md-toolbar color="primary">
  <md-icon style="margin-right: auto;cursor: pointer" (click)="sidenav.toggle()">menu</md-icon>
  <span style="margin-right: auto;">SDQR</span>
</md-toolbar>


<md-sidenav-container fullscreen>

  <md-sidenav #sidenav mode="over">
    <div fxLayoutAlign="center center" style="margin: 1rem" fxLayout="column" *ngIf="userData">
      <!--<img src="http://via.placeholder.com/64x64" alt="">
      <h4>Name of User</h4>-->
      <img [src]="userData.upic" alt="" style="width: 72px">
      <h4>{{userData.fname}} {{userData.lname}}</h4>
    </div>

    <a md-button class="asbtn" (click)="homeEvt(sidenav)">
      <md-icon>home</md-icon>
      Home
    </a>
    <a md-button class="asbtn" (click)="sidenav.close()">
      <md-icon>dashboard</md-icon>
      Report
    </a>
    <a md-button class="asbtn" (click)="registerEvt(sidenav)">
      <md-icon>person_add</md-icon>
      Register
    </a>
    <a md-button class="asbtn" (click)="logout()">
      <md-icon>exit_to_app</md-icon>
      Logout
    </a>

  </md-sidenav>
  <div *ngIf="!checkDetail">

    <!--Form Insert Prduct-->
    <md-grid-list cols="1" rowHeight="1100px" *ngIf="checkInsert">

      <md-grid-tile>
        <button md-fab class="backhome" (click)="insertTohome()">
          <md-icon>backspace</md-icon>
        </button>
        <md-card class="insertcard">

          <h1 style="text-align: center">Insert Book</h1>
          <br>
          <form novalidate [formGroup]="fInsert">
            <md-select formControlName="category" placeholder="Category">
              <md-option value="{{category.$key}}" *ngFor="let category of categories" (click)="currenCategory(category.name)">{{category.name}}</md-option>
            </md-select>
            <md-input-container>
              <input mdInput formControlName="bname" type="text" placeholder="Book name" value="">
            </md-input-container>
            <md-input-container>
              <input mdInput formControlName="author" type="text" placeholder="Author" value="">
            </md-input-container>
            <md-input-container>
              <input mdInput formControlName="import_price" type="number" min="1" placeholder="Import Price" value="">
            </md-input-container>
            <md-input-container>
              <input mdInput formControlName="export_price" type="number" min="1" placeholder="Sale Price" value="">
            </md-input-container>
            <md-input-container>
              <input mdInput formControlName="quantity" type="number" min="0" placeholder="Quantity" value="">
            </md-input-container>
            <md-input-container>
              <textarea mdInput formControlName="description" placeholder="Description"></textarea>
            </md-input-container>


            <div fxLayout="row" fxLayoutAlign="center stretch">
              <div fxFlex="">
                <button md-fab (click)="picfile('ipicinput1')"
                        style="background-color: #00E5FF;color: white;margin-bottom: 1rem">
                  <md-icon>add_a_photo</md-icon>
                </button>&nbsp;<span>Font-cover</span>
                <input type="file" id="ipicinput1" placeholder="Picture" (change)="frontPicture($event)" hidden>
                <img style="width: 200px" *ngIf="frontpic64" [src]="frontpic64" alt="">
              </div>
              <div fxFlex="">
                <button md-fab (click)="picfile('ipicinput2')"
                        style="background-color: #69F0AE;color: white;margin-bottom: 1rem">
                  <md-icon>add_a_photo</md-icon>
                </button>&nbsp;<span>Back-cover</span>
                <input type="file" id="ipicinput2" placeholder="Picture" (change)="backPicture($event)" hidden>
                <img style="width: 200px" *ngIf="backpic64" [src]="backpic64" alt="">
              </div>
            </div>
            <div fxLayoutAlign="center none">
              <a type="submit" md-raised-button style="background-color: #F44336;color: white; margin:1rem"
                 (click)="fInsert.reset()">Cancel
              </a>
              <button type="submit" md-raised-button style="background-color: #64DD17 ;color: white; margin:1rem"
                      (click)="saveBook()">Save
              </button>
            </div>

          </form>
        </md-card>
      </md-grid-tile>
    </md-grid-list>


    <!--Card Prduct in home Search and show product -->
    <md-card *ngIf="!checkInsert">
      <form>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center">

          <md-select placeholder="Category" fxFlex="20">
            <md-option value="food">
              ນິຍາຍ
            </md-option>
            <md-option value="food">
              ນິຍາຍ
            </md-option>
          </md-select>

          <md-input-container fxFlex="30">
            <input mdInput placeholder="Search" value="">
          </md-input-container>
          <button md-raised-button color="primary" type="submit">
            <md-icon>search</md-icon>
          </button>

        </div>
      </form>
    </md-card>

    <!--Card Product-->
    <md-grid-list cols="{{cols}}" rowHeight="450px" *ngIf="!checkInsert">
      <md-grid-tile *ngFor="let book of books">
        <md-card class="procard">
          <img md-card-image *ngIf="book.fpic" [src]="book.fpic" height="300px">
          <md-card-content>
            <md-card-subtitle class="namebook">{{book.bname}}</md-card-subtitle>
            <md-card-subtitle class="ownprice">{{book.import_price}}<span> ₭</span></md-card-subtitle>
            <md-card-title class="saleprice">{{book.export_price}}<span> ₭</span></md-card-title>
          </md-card-content>
          <button md-mini-fab class="viewbtn" (click)="bookDetail(book.$key, book )">
            <md-icon>details</md-icon>
          </button>
        </md-card>
      </md-grid-tile>

    </md-grid-list>

  </div>


  <div *ngIf="checkDetail">

    <!--Form Update Prduct-->
    <md-grid-list cols="1" rowHeight="1100px" *ngIf="checkUpdate">

      <md-grid-tile>
        <button md-fab class="backhome" (click)="detailTohome()">
          <md-icon>backspace</md-icon>
        </button>
        <md-card class="insertcard">

          <h1 style="text-align: center">Update Book</h1>
          <br>
          <form novalidate [formGroup]="fUpdate">

            <md-select formControlName="category" placeholder="Catagory">
              <md-option value="{{category.$key}}" *ngFor="let category of categories">{{category.name}}</md-option>
            </md-select>

            <md-input-container>
              <input mdInput formControlName="bname" type="text" placeholder="Book name" value="">
            </md-input-container>
            <md-input-container>
              <input mdInput formControlName="author" type="text" placeholder="Author" value="">
            </md-input-container>
            <md-input-container>
              <input mdInput formControlName="import_price" type="number" min="1" placeholder="Import Price" value="">
            </md-input-container>
            <md-input-container>
              <input mdInput formControlName="export_price" type="number" min="1" placeholder="Sale Price" value="">
            </md-input-container>
            <md-input-container>
              <input mdInput formControlName="quantity" type="number" min="0" placeholder="Quantity" value="">
            </md-input-container>
            <md-input-container>
              <textarea mdInput formControlName="description" placeholder="Description"></textarea>
            </md-input-container>


            <div fxLayout="row" fxLayoutAlign="center stretch">
              <div fxFlex="">
                <a md-fab (click)="picfile('upicinput1')"
                   style="background-color: #00E5FF;color: white;margin-bottom: 1rem">
                  <md-icon>add_a_photo</md-icon>
                </a>&nbsp;<span>Font-cover</span>
                <input type="file" id="upicinput1" placeholder="Picture" (change)="frontPicture($event)" hidden>
                <div *ngIf="!frontpic64">
                  <img style="width: 200px" *ngIf="bDetail.bd.fpic" [src]="bDetail.bd.fpic" alt="">
                </div>
                <img style="width: 200px" *ngIf="frontpic64" [src]="frontpic64" alt="">
              </div>
              <div fxFlex="">
                <a md-fab (click)="picfile('upicinput2')"
                   style="background-color: #69F0AE;color: white;margin-bottom: 1rem">
                  <md-icon>add_a_photo</md-icon>
                </a>&nbsp;<span>Back-cover</span>
                <input type="file" id="upicinput2" placeholder="Picture" (change)="backPicture($event)" hidden>
                <div *ngIf="!backpic64">
                  <img style="width: 200px" *ngIf="bDetail.bd.bpic" [src]="bDetail.bd.bpic" alt="">
                </div>
                <img style="width: 200px" *ngIf="backpic64" [src]="backpic64" alt="">
              </div>
            </div>
            <div fxLayoutAlign="center none">
              <button type="submit" md-raised-button style="background-color: #76FF03;color: white; margin:1rem"
                      (click)="updateBook()">Save
              </button>
            </div>

          </form>
        </md-card>
      </md-grid-tile>
    </md-grid-list>

    <!--Detail Product-->
    <div fxLayoutAlign="center stretch" style="margin: 1rem" *ngIf="!checkUpdate">
      <button md-fab class="backhome" (click)="detailTohome()">
        <md-icon>backspace</md-icon>
      </button>

      <md-tab-group>
        <md-tab label="Product Picture">
          <div fxLayoutAlign="center center" fxLayout="column" style="margin-top: 1rem">
            <img style="width: 250px;height: 350px" *ngIf="bimages[0].src" [src]="bimages[0].src"
                 (click)="gallery.set(0)"/>

            <div style="margin: 1rem">
              <button md-raised-button style="background-color:#E65100;color: white" (click)="update()">
                <md-icon>settings</md-icon>
                Update
              </button>
              <button md-raised-button style="background-color:#D50000;color: white" (click)="deleteBook()">
                <md-icon>delete_forever</md-icon>
                Delete
              </button>
            </div>
          </div>
        </md-tab>
        <md-tab label="Product Detail">
          <div fxFlex="" fxLayout="column" fxLayoutAlign="center start" style="margin-top: 1rem">
            <h3><strong>Category:</strong> {{bDetail['bd']['category_name']}}</h3>
            <h1><strong>Name:</strong> {{bDetail['bd']['bname']}}</h1>
            <h2><strong>Auther:</strong>{{bDetail['bd']['author']}}</h2>
            <h2><strong>Import:</strong> {{bDetail['bd']['import_price']}}<span> ₭</span></h2>
            <h1><strong>Sale:</strong> {{bDetail['bd']['export_price']}}<span> ₭</span></h1>
            <h2><strong>Quantity:</strong>{{bDetail['bd']['quantity']}}</h2>
            <h3><strong>Description</strong></h3>
            <p>{{bDetail['bd']['description']}}</p>
          </div>
        </md-tab>
        <md-tab label="QR-Code">
          <div fxLayoutAlign="center center" style="margin-top: 1rem">

            <app-qr-code [book]='bDetail' ></app-qr-code>
          </div>
        </md-tab>

      </md-tab-group>
    </div>
  </div>
  <gallery-modal></gallery-modal>
</md-sidenav-container>
<div *ngIf="!checkDetail">
  <!--Insert Button-->
  <button class="addpro" md-fab *ngIf="!checkInsert" (click)="addBooks()">
    <md-icon>add</md-icon>
  </button>
</div>


<simple-notifications [options]="toastOpton"></simple-notifications>
